html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: sans-serif;
    scroll-behavior: smooth;
  
  }
  
  body {
    border: 0;
    margin: 0;
    height: 100%;
  }

main-nav-section {
  z-index: 997;
  background-color: var(--off-white);
  color: var(--confab-2023-medium-navy);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


